name: CI

on:
  push:
    branches-ignore:
      - assets**
      - gh-pages
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  build:
    name: Build (${{ matrix.platform.target }})
    runs-on: ${{ matrix.platform.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup mise
        uses: jdx/mise-action@v2
      - name: Build
        uses: houseabsolute/actions-rust-cross@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release
      - name: Distribute
        run: pipx run --fetch-missing-python 'https://raw.githubusercontent.com/liblaf/copier-rust/refs/heads/main/scripts/dist.py'
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.platform.target }}
          path: dist/*
    strategy:
      matrix:
        platform:
          - runner: macos-latest
            target: aarch64-apple-darwin
          - runner: macos-latest
            target: x86_64-apple-darwin
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - runner: windows-latest
            target: x86_64-pc-windows-msvc
      fail-fast: false

  release:
    name: Release
    permissions:
      contents: write
    needs:
      - build
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }} @ ${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: dist/
          pattern: dist-*
          merge-multiple: true
      - name: Release
        uses: liblaf/actions-ts/release@dist
        with:
          files: dist/*
          tag: ${{ github.ref_name }}
